h1 {
    text-align: center;
}


.container {
  display: flex;
  justify-content: center;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid yellow;
  transition: background-color 0.3s, transform 0.3s;
  margin-right: 20px;
}

.square {
  width: 100px;
  height: 100px;
  background-color: red;
  transition: background-color 0.3s, transform 0.3s;
  margin-right: 20px;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.3s;
}

.triangle:hover, .square:hover, .circle:hover {
  background-color: lightgreen;
  transform: translateY(-5px);
}

#resetButton {
  text-align: center;
  margin-left: 700px;
  display: grid;
  justify-content: center;
  padding: 5px; 
  margin-bottom: 1000px;
}

